swagger: "2.0"
info:
  version: 0.0.1
  title: SensorForge Cloud API
  description: API for accessing the SensorForge cloud.
  termsOfService: http://sensorforge.com/
  contact:
    name: SensorForge API Team
    email: info@sensorforge.com
    url: http://sensorforge.com
host: api.sensorforge.com
basePath: /v1
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  apiKey:
    type: apiKey
    name: apiKey
    in: header
paths:
  /about:
    x-swagger-router-controller: About
    get:
      description: Returns information about this API.
      operationId: getAbout
      responses:
        200:
          description: API information
          schema:
            type: object
            properties:
              hostname:
                type: string
              version:
                type: string
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
  /devices:
    x-swagger-router-controller: Devices
    get:
      description: Returns all devices that the user has access to.
      operationId: getDevices
      responses:
        200:
          description: array of device definitions
          schema:
            type: array
            items:
              $ref: '#/definitions/Device'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
    post:
      description: Add a new device. Available only to SensorForge when manufacturing a new sensor. Users should instead use /v1/{deviceSerialName}/claim to claim an already-existing device.
      operationId: addDevice
      parameters:
        - name: bodyJSON
          in: body
          required: true
          schema:
            type: object
            required:
              - deviceType
            properties:
              deviceType:
                type: string
                maxLength: 64
      responses:
        200:
          description: device response for newly-added device
          schema:
            properties:
              serialName:
                type: string
                maxLength: 64
              deviceID:
                type: string
                maxLength: 10
              pubNubAuthToken:
                type: string
                maxLength: 20
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
  /devices/{serialName}:
    x-swagger-router-controller: Devices
    get:
      description: Returns a device based on a single serialName.
      operationId: getDeviceBySerialName
      parameters:
        - name: serialName
          in: path
          description: serialName of device to fetch
          required: true
          type: string
          maxLength: 64
      responses:
        200:
          description: device response
          schema:
            $ref: '#/definitions/Device'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
    delete:
      description: Deletes a device based on a single serialName.
      operationId: deleteDeviceBySerialName
      parameters:
        - name: serialName
          in: path
          description: serialName of device to delete
          required: true
          type: string
          maxLength: 64
      responses:
        200:
          description: device response
          schema:
            $ref: '#/definitions/Device'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
  /devices/{serialName}/sensors/{sensorName}/history:
    x-swagger-router-controller: Devices
    get:
      description: Fetches sensor readings.
      operationId: getSensorHistory
      parameters:
        - name: serialName
          in: path
          description: serialName of device to fetch
          required: true
          type: string
          maxLength: 64
        - name: sensorName
          in: path
          description: sensorName of sensor to fetch
          required: true
          type: string
          maxLength: 64
        - name: period
          in: query
          description: |
            length of time, in milliseconds. All sensor readings from the last 
            [period] milliseconds are returned.
          required: true
          type: integer
          format: int32
        - name: interval
          in: query
          description: |
            One of “hourly”, “minutely”, or “all”. 
            “All” returns every sensor reading. 
            “Minutely” returns at most one sensor reading per minute. 
            “Hourly” returns at most one sensor reading per hour.
          required: false
          default: all
          type: string
          maxLength: 10
        - name: limit
          in: query
          description: |
            Maximum number of values to return. If there were more than [limit] 
            results in the database, the newest results are returned.
          required: false
          default: 1
          type: integer
          format: int32
      responses:
        200:
          description: array of sensor readings
          schema:
            type: array
            items:
              properties:
                timestamp:
                  type: string
                value:
                  type: string
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
  /devices/{serialName}/claim:
    x-swagger-router-controller: Devices
    post:
      description: claim a device
      operationId: claimDevice
      parameters:
        - name: serialName
          in: path
          description: serialName of device to fetch
          required: true
          type: string
          maxLength: 64
        - name: bodyJSON
          in: body
          required: true
          schema:
            type: object
            required:
              - claimPIN
            properties:
              claimPIN:
                type: string
                maxLength: 4
      responses:
        200:
          description: Device information object
          schema:
            $ref: '#/definitions/Device'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
  /keys:
    x-swagger-router-controller: Keys
    get:
      description: Returns a list of all readable API keys.
      operationId: getKeys
      responses:
        200:
          description: array of key definitions
          schema:
            type: array
            items:
              $ref: '#/definitions/Key'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
    post:
      description: Create a new key.
      operationId: addKey
      responses:
        200:
          description: key info response
          schema:
            $ref: '#/definitions/Key'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
definitions:
  Device:
    required:
      - lastReboot
      - serialName
      - deviceType
    properties:
      lastReboot:
        type: string
        format: date-time  
      serialName:
        type: string
        maxLength: 64
      deviceType:
        type: string
        maxLength: 64
  Key:
    properties:
      secret:
        type: string
        maxLength: 40
        minLength: 40
      createdTimestamp:
        type: string
        format: date-time
      enabled:
        type: boolean
      keyDescription:
        type: string
        maxLength: 256
  Error:
    required:
      - code
      - message
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string